td {
    border: 3px solid rgba(35, 32, 32, 0.91);
    padding: 10px;
    border-collapse: separate;
    margin: 10px;
    width: 150px;
    height: 150px;
    font-size: 100px;
    text-align: center;
    empty-cells: show;
}